name: Build Android APK
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade buildozer "Cython<3.0" virtualenv

      - name: Build with Buildozer
        run: |
          # Garante que estamos na pasta onde está o main.py
          # Se os arquivos estiverem dentro de uma subpasta, mova-os para a raiz
          [ -d modulo-geotrack ] && mv modulo-geotrack/* . || echo "Arquivos já na raiz"
          
          export PATH=$PATH:$HOME/.local/bin
          yes | buildozer -v android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pacote-geotrack
          path: bin/*.apk
